
header
{
	font-size:3em;
	text-align:center;
	padding:1em 1em;
	background-color:#1177aa;
	
}
/*litir fyrir siðurnar*/

body{
	margin:0;
}
@mixin basicbox
{
	flex: 1 300px;
	box-shadow: 0 2px 5px #888;
	transition:transform 0.5s;
	&:hover
	{
		transform: scale(1.01)
	}
	text-align:center;
}
section
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	div
	{
		border: 2px red solid;
	padding: 20px;
	margin: 20px;
	flex: 300px;
	}
}
